
.navigationPane{
    width: 200px;
    min-width: 200px;
    height: 100vh;
    max-height: auto;
    background-color: #181b22;
    color: white;
    display: flex;
    flex-direction: column;
  }

  li{
    margin-top: 30px;
  }
  
  .navigationLinks{

    margin: 50px 0px 0px 30px;
    list-style: none;
  }
  
  .links{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
  }

 
  .links:hover{
    color: #b892f7;
  }
  
